.title {
  text-align: center;
  margin: auto;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}
.card {
  width: 150px;
  height: 200px;
  margin: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.2s;
}

.card .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
}


.card-title {
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}